OPENAI_API_KEY=
API_BASE=https://openai.rc.asu.edu/v1
MODEL_NAME=qwen3-30b-a3b-instruct-2507

# alternate env for running with ollama on sol:
# run bash scripts/ollama_serve.sh, then set API_BASE accordingly
# model will download if not present

# BACKEND=ollama
# API_BASE=http://sg003:11434/v1
# MODEL_NAME=alibayram/Qwen3-30B-A3B-Instruct-2507
